# https://github.com/gabibdods/NewRepositoryTemplate:
*

!.gitattributes
!.gitignore
!README.md
!License/
!License/LICENSE.md
!License/NOTICE.md


# particular repository ignores:

!lpm.lua

!src/
!src/main.lua
!src/github.lua
!src/installer.lua
!src/config.lua
